  @font-face {
    font-family: "Gotham Rounded";
    src: url('../fonts/Gotham rounded/gotham-rounded-book.otf')
   }
   @font-face {
    font-family: "Proxima Nova";
    src: url('../fonts/Proxima Nova/ProximaNova-Regular.ttf');
   }
   @font-face {
    font-family: "Proxima Nova-Semibold";
    src: url('../fonts/Proxima Nova/ProximaNova-Semibold.ttf');
   }
   @font-face {
    font-family: "Open Sans";
    src: url('../fonts/Open Sans/OpenSans-Regular.ttf');
   }

   .section-works {
	  max-width: 1920px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 100px 110px;
}

	.works_title {
	color: #333333;
	font-family: "Open Sans";
	font-size: 53px;
	font-weight: 700;
	line-height: 72px;
	text-transform: uppercase;
}


.works_definition {
	max-width: 429px;
	color: #888888;
	font-family: "Proxima Nova";
	font-size: 18px;
	font-weight: 400;
	line-height: 26px;
	}


