@import '_reset';
@import '_variables';

.section-blog {
max-width: 1920px;
font-family: "Proxima Nova";
font-size: 18px;
color: #333333;
padding: 40px 10%;

.section-blog_articles, .section_header {
  width: 80%;
  margin: 20px auto;
}

  .section-blog__title {
    display: inline-block;
    width: 50%;
    font-family: "Open Sans";
    font-size: 53px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0.53px;
    margin-right: 40px;
  }

  .section-blog__description {
    display: inline-block;
    width: 40%;
    color: #888888;
    font-weight: 400;
    line-height: 26px;
  }

  .section-blog_articles_row_first {
    padding: 50px auto;
    color: #999999;
    font-weight: 300;
    line-height: 26px;
    text-transform: uppercase;
    border-bottom: 1px solid #888888;
    }

  .section-blog_articles_row {
    border-bottom: 1px solid #888888;

    .section-blog_articles_row__title {
    width: 65%;
    margin-top: 20px;
}

  .section-blog_articles_row__text {
    font-size: 16px;
    color: #888888;
    margin-bottom: 20px;
    }
  }  

  .section-blog_articles_all  {
    display: block;
    width: 20%;
    margin: 20px auto;
    color: #ef443a;
    font-family: Merriweather;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;

  }

  .section-blog_articles_all:hover {
    text-decoration: underline;
  } 

   .section-blog_articles_row:hover {
   background-image: url('../img/background-image.png');
   background-size: cover;
   transition: 0.5s ease-in-out;
   color: #ffffff;
  }

  .section-blog_articles_row:hover .section-blog_articles_row__text, 
  .section-blog_articles_row:hover .section-blog_articles_row__title {
   transition: 0.5s ease-in-out;
   color: #ffffff;
 }  

}