@font-face {
  font-family: "Gotham Rounded";
  src: url("../fonts/Gotham rounded/GothamMedium.ttf");
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/Proxima Nova/ProximaNova-Regular.ttf");
}

@font-face {
  font-family: "Proxima Nova-Semibold";
  src: url("../fonts/Proxima Nova/ProximaNova-Semibold.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open Sans/OpenSans-Regular.ttf");
}