 .footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 1920px;
  padding: 50px 0px;
  background-color: #28282e;
  color: #76767b;
  font-family: "Proxima Nova";
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.97px;
   }

   @media only screen and (max-device-width: 480px) {
    .footer {
     padding: 10px;
    font-size: 5px;
    }
   }