@import '_reset';
@import '_variables';

 .pre-footer {
  width: 100%;
  background-color: #ef4035;
  padding: 50px 0px;
  text-align: center;
  color: #ffffff;

   .pre-footer-text {
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
 }


 }