.project {
  max-width: 1920px;
  background-color: #28282e;
  padding: 200px; 
  color: #ffffff;

  .project_title {
  font-family: "Open Sans";
  font-size: 53px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0.53px;
  margin-bottom: 50px;
  }

  .project_title:after {
  content: "";
  display:block;
  width: 25px;
  height: 2px;
  background-color: #ffffff;
  margin-top: 20px;
  } 

  .project_description {
  max-width: 50%;
  font-family: "Proxima Nova";
  text-align: justify;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  }

  .button {
  width: 157px;
  height: 60px;
  margin-top: 50px;
  background-color: #28282e;
  color: #ffffff;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Proxima Nova - Semibold";
  }

  .project_button:hover {
   background-color: #ffffff; 
   color: #28282e;
  }

  .project_laptop {
  position: relative;
  padding: 10px;
  width: 27%;
  height: 24vh;
  background-color: #000000;
  border: 1px solid #ffffff;
  border-radius: 8px;
  float: right;
  margin-top: -140px;

  .project_laptop__screen {
  background-image: url('../img/screen.png');
  position: absolute;
  top: 10px;
  left: 11px;
  width: 90%;
  height: 23vh;
  }

  .project_laptop__screen:before {
  content: "";
  width: 133%;
  height: 9px;
  background-color: #bdbdbd;
  background-image: linear-gradient(to right, #c4c4c6 0%, #d2d3d5 4%, #d2d3d5 50%, #eaedf1 96%, #eaedf1 100%);
  position: absolute;
  border-radius: 1px;
  bottom: -18px;
  left: -16% ;
  }

  .project_laptop_icon-container {
  position: absolute;
  bottom: -53%;
  left: 20%;
  width: 100%;
  margin: 30px auto;

  .icon_mobile, .icon_tablet, .icon_laptop {
  display: inline;
  }

  .project_icon-container__icon {
  display: inline;
  margin: 0 5px;
   }
  }

  .project_laptop_pagination  {
  width: 10px;
  height: 40%;
  position: absolute;
  right: -60px;
  top: 65px;

  .project_laptop_pagination__item {
  width: 4px;
  height: 25px;
  margin: 10px auto;
  background-color: #ffffff;
  opacity: 0.2;
  transition: ease-in-out 0.7s;
  }

.project_laptop_pagination__item:hover {
  opacity: 1;
  transition: ease-in-out 0.7s;
   }
  }
 }
}

.clearfix:after {
  content: " "; 
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

@media only screen and (max-device-width: 1366px) {
.project {
  padding: 100px 100px 200px 120px;

  .project_title {
  font-size: 30px;
  margin-bottom: 50px;
  }

  .project_title:after {
  display:none;
  } 

  .project_description {
  max-width: 40%;
  font-size: 16px;
  }

  .project_laptop {
  width: 40%;
  height: 17vh;

  .project_laptop__screen {
  height: 17vh;
  }

  .project_laptop_icon-container {
  bottom: -49%;
  left: 21%;
  width: 80%;
  margin: 30px auto;

  .project_icon-container__icon {
  margin: 0 15px;
    }
   }
  }
 }
}

@media only screen and (max-device-width: 768px) {
  .project {
  max-width: 768px;
  padding: 70px 0px;

  .project_title {
  font-size: 30px;
  margin-bottom: 50px;
  }

  .project_title:after {
  display:none;
  } 

  .project_description {
  max-width: 40%;
  font-size: 16px;
  }

  .project_laptop {
  width: 40%;
  height: 17vh;
  margin-top:-163px;

  .project_laptop__screen {
  height: 17vh;
  }

  .project_laptop_icon-container {
  bottom: -53%;
  left: 21%;
  width: 80%;
  margin: 30px auto;


  .project_icon-container__icon {
  margin: 0 8px;
   }
  }

  .project_laptop_pagination  {
  display:none;
    }
   }
  }
}

@media only screen and (max-device-width: 480px) {
  .project {
  max-width: 480px;
  padding: 20px 0px; 
  text-align:center;

  .project_title {
  font-size: 20px;
  margin-bottom: 20px;
  }

  .project_title:after {
    display:none;
  } 

  .project_description {
  width: 100%;
  font-size: 10px;
  margin: 20px 150px 20px 20px;
  }

  .button {
  margin: 50px auto;
  }

  .project_laptop {
  border:none;
  background-color: transparent;
  padding: 10px;
  width: 27%;
  height: 24vh;
  float: none;
  margin-top: -140px;

  .project_laptop__screen {
   display:none;
  }

  .project_laptop__screen:before {
  display:none;
  }

  .project_laptop_icon-container {
  bottom: 255px;
  left: 150%;
  width: 50%;
  margin: 0 auto;

  .project_icon-container__icon {
  display:inline-block;
  margin: 5px;
   }

   .icon_mobile {
   position: relative;
   width: 40px;
   height: 60px;
   }

   .icon_mobile:after {
   position: absolute;
   top: 19px;
   left: 45px;
   display: inline-block;
   content: "Mobile";
   font-size: 18px;
   color: #ffffff;
   }

  .icon_tablet {
   position: relative;
   width: 60px;
   height: 60px;
   }

  .icon_tablet:after {
   position: absolute;
   top: 16px;
   left: 52px;
   display: inline-block;
   content: "Tablet";
   font-size: 18px; 
   color: #ffffff;
   }

 .icon_laptop {
   position: relative;
   width: 98px;
   height: 66px;
   }

  .icon_laptop:after {
   position: absolute;
   top: 17px;
   left: 90px;
   display: inline-block;
   content: "Desktop";
   font-size: 18px;
   color: #ffffff;
   }
  }

  .project_laptop_pagination  {
  display:none;
   }
  }
 }
}