@import '_reset';
@import '_variables';


.section-services {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 1920px;
  background-color: #f6f6f6;
  padding: 150px 20px 100px 100px;
  font-size: 0px;

  .services_text {
    max-width: 30%;
    margin-top: -70px;

    .services_text__title {
      color: #333333;
      font-family: "Open Sans";
      font-size: 53px;
      font-weight: 700;
      line-height: 72px;
      text-transform: uppercase;
      margin-bottom: 80px;
     }

     .services_text__description {
      color: #888888;
      font-family: "Proxima Nova";
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      }
   }

   .services-wrapper {
    width: 65%;
    height:  400px;
    position: relative;  
    margin-left: -150px;

    .services_row_first, .services_row_second, .services_row_third {
      position: absolute;
    }
    
    .services_row_first {
      left: 245px; 
    }
    
    .services_row_second {
      top: 117px;
      left: 135px;
    }
    
    .services_row_third {
      top: 231px;
      left: 23px;
    }

    .services_block {
      width: 130px;
      height: 130px;
      display: inline-block;
      padding: 10px;
      margin: 5px 35px;
      background-color: #ffffff;
      -ms-transform: rotate(45deg); 
      -webkit-transform: rotate(45deg); 
      transform: rotate(45deg);

      .services_block_content {
        width: 135px;
        margin:  22px -10px ;
        -ms-transform: rotate(-45deg); 
        -webkit-transform: rotate(-45deg); 
        transform: rotate(-45deg);
        text-align: center;
      }
    
      .services_block__image {
        margin: 0 auto;
        width: 34px;
        height: 34px;
        background-image: url("../img/spritesheet.png");
        background-size: 354%;
        }

        .services_block__image_1 {
          background-position: 63px 0px;
        }
        .services_block__image_2 {
          background-position: -5px 37px;
        }
        .services_block__image_3 {
          background-position: 154px 0px;
        }
        .services_block__image_4 {
          background-position: 0px 0px;
        }
        .services_block__image_5 {
          background-position: -34px -32px;
        }
        .services_block__image_6 {
          background-position: -68px -34px;
        }
        .services_block__image_7 {
          background-position: -30px 0px;
        }
        .services_block__image_8 {
          background-position: -0px -31px;
        }

        .services_block_description{
        text-align: center;
        color: #474747;
        font-family: "Proxima Nova-Semibold";
        font-size: 11px;
        font-weight: 400;
        line-height: 18px;
        text-transform: uppercase;     
      }

    }
    .services_block_8 {
      position: absolute;
      top:  0px;
      left: 222px;
    }

    .services_block:hover {
        background-color: #28282e;
      }
      .services_block:hover .services_block_description {
        color: #ffffff;
      }
  }
}