@import '_reset';
@import '_button';
@import '_variables';


.slider-section {
max-width: 1920px;
background-color: #28282e;
padding: 80px 220px;
text-align: center;
color: #f6f6f6;
font-weight: 400;

.slider-section_title {
  font-family: "Merriweather";
  font-size: 39px;
  max-width: 40%;
  margin: 20px auto;
 }

 .slider-section_description {
  max-width: 800px;
  margin: 50px auto;
  font-family: "Proxima Nova";
  font-size: 18px;
  line-height: 28px;
 }

 .slider-section_slider-container {
  max-width: 700px;
  max-height: 400px;
  margin: auto;

  .slider-section_slider-container__slide {
  display: none;
  height: 60vh;
  background-size: cover;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.slider-container__slide_1 {
  background-image: url('../img/mountains_1.png');
  background-size: cover;
}

.slider-container__slide_2 {
  background-image: url('../img/mountains_2.jpg');
}

.slider-container__slide_3 {
  background-image: url('../img/mountains_3.jpg');
}

.slider-container__slide_4 {
  background-image: url('../img/mountains_4.jpg');
}

.slider-container__slide_5 {
  background-image: url('../img/mountains_5.jpg');
}

.slider-container__slide_6 {
  background-image: url('../img/mountains_6.jpg');
}


@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.slider-section__pagination {
  margin-top: 30px;

  .pagination__dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 10px 5%;
  border-radius: 50%;
  background-color: #1e1e20;
}

	.active, .pagination__dot:hover {
	 background-color: #ffffff; 
	 cursor: pointer;
    }
   }
  }
 }