<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Footer</title>
	<link rel="stylesheet" type="text/scss" href="../sass/_reset.scss">
	<link rel="stylesheet" type="text/scss" href="../sass/_footer.scss">
	<link rel="stylesheet" type="text/css" href="../css/reset.css">
	<link rel="stylesheet" type="text/css" href="../css/footer.css">
</head>
<body>
	<footer class="footer">
		<address class="footer_date">© 2014 Ravin</address>
		<p class="footer_email">contact@office.com</p>
		<p class="footer_phone">+91 9000 000 000</p>
		<p class="footer_address">3 R.R.C street, Tamilnadu, India</p>	
	</footer>
</body>
</html>