<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Works</title>
	<link rel="stylesheet" type="text/scss" href="../sass/_reset.scss">
	<link rel="stylesheet" type="text/css" href="../css/reset.css">
	<link rel="stylesheet" type="text/css" href="../css/works.css">
</head>
<body>
	<section class="section-works">
		<h1 class="works_title">our works</h1>
		<p class="works_definition">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt sit amet at.
		</p>
	</section>
</body>
</html>