<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Project</title>
	<link rel="stylesheet" href="../css/section_project.css">
</head>
<body>
<section class="project clearfix">
	<h1 class="project_title">Project Title Here</h1>
	<p class="project_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in leo turpis. Praesent tempus felis diam, in suscipit lectus euismod et. Pellentesque habitant morbi tristique senectus fames ac turpis egestas.
	</p>
	<button class="project_button button">see it live</button>
	<div class="project_laptop">
		<div class="project_laptop__screen"></div>
		<div class="project_laptop_icon-container">
			<img src="../img/mob.png" alt="" class="project_icon-container__icon">
			<img src="../img/tab.png" alt=""class="project_icon-container__icon">
			<img src="../img/mac.png" alt="" class="project_icon-container__icon">
    	</div>
    	<div class="project_laptop_pagination">
    		<div class="project_laptop_pagination__item"></div>
    		<div class="project_laptop_pagination__item"></div>
    		<div class="project_laptop_pagination__item"></div>
    	</div>
    </div>
</section>	
</body>
</html>