<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Team</title>
	<link rel="stylesheet" type="text/scss" href="../sass/_reset.scss">
	<link rel="stylesheet" type="text/scss" href="../sass/_team.scss">
	<link rel="stylesheet" type="text/css" href="../css/reset.css">
	<link rel="stylesheet" type="text/css" href="../css/team.css">
</head>
<body>
	<section class="section-team">
		<div class="team_text">
			<h1 class="team_text__title">who are we?</h1>
			<p class="team_text__subtitle">Meet the entire team</p>
			<p class="team_text__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquet purus et orci tincidunt tempus. Duis ultricies, lorem sit amet hendrerit sodales, orci dolor vulputate metus.
			</p>
		</div>	
		<div class="team-wrapper">
         <figure class="team_member-item team_member-item_image-7">
             <figcaption class="team_member-item__description">
             	<h2 class="team_member-item__description_bold">charlie waite</h2>
             	<p class="team_member-item__description_normal">UI designer</p>	           
             </figcaption>
         </figure>
		<figure class="team_member-item team_member-item_image-10">
             <figcaption class="team_member-item__description">
             	<h2 class="team_member-item__description_bold">charlie waite</h2>
             	<p class="team_member-item__description_normal">UI designer</p>	           
             </figcaption>
         </figure>
		<figure class="team_member-item team_member-item_image-12">
             <figcaption class="team_member-item__description">
             	<h2 class="team_member-item__description_bold">charlie waite</h2>
             	<p class="team_member-item__description_normal">UI designer</p>	           
             </figcaption>
         </figure>			
		<figure class="team_member-item team_member-item_image-6">
             <figcaption class="team_member-item__description">
             	<h2 class="team_member-item__description_bold">charlie waite</h2>
             	<p class="team_member-item__description_normal">UI designer</p>	           
             </figcaption>
         </figure>
		<figure class="team_member-item team_member-item_image-9">
             <figcaption class="team_member-item__description">
             	<h2 class="team_member-item__description_bold">charlie waite</h2>
             	<p class="team_member-item__description_normal">UI designer</p>	           
             </figcaption>
         </figure>
		<figure class="team_member-item team_member-item_image-11">
             <figcaption class="team_member-item__description">
             	<h2 class="team_member-item__description_bold">charlie waite</h2>
             	<p class="team_member-item__description_normal">UI designer</p>	           
             </figcaption>
         </figure>
    	<figure class="team_member-item team_member-item_image-5">
             <figcaption class="team_member-item__description">
             	<h2 class="team_member-item__description_bold">charlie waite</h2>
             	<p class="team_member-item__description_normal">UI designer</p>	           
             </figcaption>
         </figure>
		<figure class="team_member-item team_member-item_image-8">
             <figcaption class="team_member-item__description">
             	<h2 class="team_member-item__description_bold">charlie waite</h2>
             	<p class="team_member-item__description_normal">UI designer</p>	           
             </figcaption>
         </figure>
		</div>
	</section>		
</body>
</html>