<section class="section-blog">
	<header class="section_header">
		<h1 class="section-blog__title">Read our minds</h1>
		<p class="section-blog__description">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquet purus et orci tincidunt tempus. Duis ultricies, nibh.
		</p>
	</header>
	<table class="section-blog_articles">
		<tr class="section-blog_articles_row_first">
			<td class="section-blog_articles_row__title_first">Title & Description</td>
			<td class="section-blog_articles_row__date">Date</td>
			<td class="section-blog_articles_row__author">Who</td>
		</tr>
		<tr class="section-blog_articles_row">
			<td class="section-blog_articles_row__title">
				<h3 class="section-blog_articles_row__name">Weekly Digital Roundup</h3><br>
				<p class="section-blog_articles_row__text">Wi-Fi apple care volume reminder controls. My stations folders mac power ultimate upgrade. Shop online quicktime trackpad server aperture rumors education safari one to one.
			    </p>
			</td>
			<td class="section-blog_articles_row__date"><time>08/05/2014</time></td>
			<td class="section-blog_articles_row__author">Adam Campbell</td>
		</tr>
		<tr class="section-blog_articles_row">
			<td class="section-blog_articles_row__title">
				<h3 class="section-blog_articles_row__name">something new </h3><br>
				<p class="section-blog_articles_row__text">Backlit keyboard chess phone airport extreme support iPad. Accessories magsafe terminal final cut pro. Featured TV shows downloads digital color meter. 
			    </p>
			</td>
			<td class="section-blog_articles_row__date">07/05/2014</td>
			<td class="section-blog_articles_row__author">Viktor Csuka</td>
		</tr>
	    <tr class="section-blog_articles_row">
			<td class="section-blog_articles_row__title">
				<h3 class="section-blog_articles_row__name">things coming around</h3><br>
			    <p class="section-blog_articles_row__text">Wi-Fi apple care volume reminder controls. My stations folders mac power ultimate upgrade. Shop online quicktime trackpad server aperture rumors education safari one to one.
			    </p>
			</td>	
			<td class="section-blog_articles_row__date"><time>05/05/2014</time></td>
			<td class="section-blog_articles_row__author">Vivek Ravin</td>
		</tr>
		<tr class="section-blog_articles_row">
			<td class="section-blog_articles_row__title">
				<h3 class="section-blog_articles_row__name">finally! we are here</h3><br>
				<p class="section-blog_articles_row__text">Glossy tech specs bluetooth manuals. OpenGL products FaceTime free shipping recycling mission control applications. 
			    </p>
            </td>
			<td class="section-blog_articles_row__date"><time>24/04/2014</time></td>
			<td class="section-blog_articles_row__author">Hikmet Arslan</td>
		</tr>
	</table>
	<a class="section-blog_articles_all" href="#">See all Articles here</a>
</section>
