<section class="section-services">
	<div class="services_text">
		<h1 class="services_text__title">our services</h1>
		<p class="services_text__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt sit amet erat malesuada interdum. Aenean sodales dui quis leo fermentum scelerisque. Fusce condimentum dolor justo, ac tristique diam iaculis at.
		</p>
	</div>
	<div class="services-wrapper">
		<article class="services_block services_block_1">
			<div class="services_block_content">
				<div class="services_block__image services_block__image_1"></div>
				<a class="services_block_description" href="#">business intelligence</a>
		    </div>
		</article>
		<article class="services_block services_block_2">
			<div class="services_block_content">
				<div class="services_block__image services_block__image_2"></div>
				<a class="services_block_description" href="#">crm customization</a>
		    </div>
		</article>
		<article class="services_block services_block_3">
			<div class="services_block_content">
				<div class="services_block__image services_block__image_3"></div>
				<a class="services_block_description" href="#">project management</a>
			</div>
		</article>		
		<article class="services_block services_block_4">
			<div class="services_block_content">
				<div class="services_block__image services_block__image_4"></div>
				<a class="services_block_description" href="#">digital marketing</a>
			</div>
		</article>
		<article class="services_block services_block_5">
			<div class="services_block_content">
				<div class="services_block__image services_block__image_5"></div>
				<a class="services_block_description" href="#">data normalization</a>
			</div>
		</article>
		<article class="services_block services_block_6">
			<div class="services_block_content">
				<div class="services_block__image services_block__image_6"></div>
				<a class="services_block_description" href="#">seo/sem</a>
			</div>
		</article>
		<article class="services_block services_block_7">
			<div class="services_block_content">
				<div class="services_block__image services_block__image_7"></div>
				<a class="services_block_description" href="#">product development</a>
			</div>
		</article>
		<article class="services_block services_block_8">
			<div class="services_block_content">
				<div class="services_block__image services_block__image_8"></div>
				<a class="services_block_description" href="#">data acquisition</a>
			</div>
		</article>	    
	</div>
</section>
